{% extends "_layout.jinja" %}
{% block content %}
    <div id="home_page">
        <div id="home_title">
            <h3>Welcome on the Luxury Cars site</h3>
        </div>
        <div id="description">
            <ul>
                <li>This is a place where you can find the most beautiful cars in Europe or even in the world</li>
            </ul>
            <ul>
                <li>You can find cars like Aston Martin, Bentley, Ferrari, Lamborghini, McLaren</li>
            </ul>
            <ul>
                <li>Porsche, Maserati, Mercedes AMG, BMW M, Audi RS</li>
            </ul>
            <ul>
                <li>Supercars like Aston Martin Valkyrie, Bugatti Chiron Sport</li>
            </ul>
            <ul>
                <li>Ferrari Monza SP & Enzo, Ferrari LaFerrari & FXX-K</li>
            </ul>
            <ul>
                <li>Porsche 918 Spyder, McLaren P1 GTR & Senna</li>
            </ul>
        </div>
    </div>
{% endblock %}